@import "../../../../variables";
.switch-reasons {
  padding-top: 60px;
  .heading {
    font-size: 1.3em;
    color: $color-blue;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
  }
  .container {
    padding: 0;
    .reasons-tiles {
      list-style-type: none;
      margin: 0;
      div {
        padding: 0 7px;
        &:first-of-type {
          padding-left: 0;
        }
        &:last-of-type {
          padding-right: 0;
        }
        div.reason-tile {
          background-color: $color-grey;
          font-size: 0.9em;
          text-align: center;
          list-style-type: none;
          padding: 40px 25px 20px 25px;
          div.details {
            margin-top: 30px;
            span {
              display: block;
              font-weight: bold;
              margin-bottom: 10px;
            }
            p {
              padding: 0;
              color: #333333;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .switch-reasons {
    &:focus {
      outline: none;
    }
    padding: 0;
    .heading {
      font-size: 1.2em;
    }
    .reasons-tiles {
      &:focus {
        outline: none;
      }
      .reason-tile {
        &:focus {
          outline: none;
        }

        padding: 0;
        margin: 0 50px;
      }
    }
    div.details {
      margin-top: 30px;
      span {
        font-size: 1.2em;
      }
    }
  }
}
