@import "../../../variables";
.banner {
  background: linear-gradient(#f9f9f9, #c8e2ec);
  .container {
    .row {
      .contents {
        font-size: 1em;
        padding: 45px 10px 10px 10px;
        .heading {
          font-size: 1.8em;
          font-weight: bold;
          color: $color-blue;
          max-width: 500px;
          line-height: 1.4em;
          margin-bottom: 14px;
        }
        .description {
          font-weight: bold;
        }
        .banner-logos {
          margin-top: 30px;
        }
        div.content-row {
          font-size: .925em;
          line-height: 1.2em;
          padding: 7px 0;
          max-width: 680px;
        }
      }
      .banner-text {
        margin-bottom: 30px;
      }
      .love-water-savings-logo {
        height: 80px;
      }
      .trustpilot-logo {
        height: 80px;
        text-align: right;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
    .banner {
      background: #ffffff;
      .row {
        div {
          max-width: 100%;
          flex: 100%;
          padding: 0;
        }
        .contents {
          background: linear-gradient(#f9f9f9, #c8e2ec);
          .heading {
            font-size: 1.2em !important;
          }
          div {
            padding: 0 15px;
          }
        }
        margin-bottom: 30px;
      }
      .banner-logos {
        div {
          flex: 50%;
          max-width: 200px;
          .love-water-savings-logo {
            height: 3.5rem !important;
          }
          .trustpilot-logo {
            height: 2rem !important;
            text-align: right;
          }
        }
      }
    }
}
