@import "../../../variables";
.banner {
  background: linear-gradient(#f9f9f9, #c8e2ec);
  padding-bottom: 45px;
  .contents {
    padding-top: 50px;
    .heading {
      font-size: 1.8em;
      font-weight: bold;
      color: $color-blue;
      max-width: 500px;
      line-height: 1.2em;
      margin-bottom: 14px;
    }
    .description {
      font-weight: bold;
    }
    div {
      line-height: 1.2em;
      padding: 7px 0;
      max-width: 730px;
    }
  }
  .banner-text {
    margin-bottom: 30px;
  }
  .love-water-savings-logo {
    height: 80px;
  }
  .trustpilot-logo {
    text-align: right;
  }
}
