@import "../../../variables";
.faqs {
  margin-bottom: 60px;
  .container {
    .heading {
      font-size: 1.3em;
      color: $color-blue;
      font-weight: bolder;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
